.admin h1 {
  color: black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  margin-top: 3px;
  border: solid orangered 2px;
  border-radius: 10px;
}

.admin .flex {
  display: inline-flex;
}
