.navbar .menu-item {
  color: red;
}
.navigationbar a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
}
.navtext {
  color: #03045e;
}
.navborder {
  background-color: white;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px #03045e;
  border-radius: 10px;
}
.navborder:hover {
  background-color: #03045e;
  .navtext {
    color: white;
  }
}
.navigationbar {
  object-position: center;
  width: 450px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
